h1{
    text-align: center;
    font-size: 60px;
}
#topnav ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    padding-left: 30px;
    overflow: hidden;
    background-color: #333;
}
#topnav li{
    float: left;
}
#topnav li a{
    display: block;
    color: white;
    text-align: center;
    padding: 8px;
    text-decoration: none;
}
#topnav li a:hover{
    background-color: #333;
}
#contents{
    display: grid;
    grid-template-columns: 120px 1fr;
    margin-right: 50px;
}
body{
    margin:0px;
}
#contents ul{
    border-right: 1px solid gray;
    margin: 0px;
    padding-top: 20px;
    list-style-type: none;
    line-height:180%;
}
#article{
    padding-left: 30px;
}